@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

:root {
  --color-gold: #CEA136;
  --color-background: #1B1A0E;
  --color-slate: #526A64;
  --color-dark-slate: #46625C;
  --color-background-light: #B8A567;
  --color-background-warm: #B27742;
  --color-evergreen: #374B26;
  --color-dark-evergreen: #191D12;
  --color-smoke: #D1B87F;
  --color-dark-smoke: #AE915D;
}
